
.option{
    color: tomato;
    cursor: pointer;
}

.create{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: tomato;
}

.create:hover{
    text-decoration: underline;
    color: crimson;
}

.create:focus{
    outline:none;

}

.login  form{
    max-width: 400px;
    margin: 0 auto;
}
.login .form-control{
    background:#f5f5f5;
    border:none;
    padding: 25px 15px !important;
}
.error{
    color: crimson;
}

.login .option label{
    color: crimson;
    cursor: pointer;
}

.logo{
    margin-top: 50px;
}